* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}
body {
  background-color: rgb(232, 226, 197);
  /* margin: auto; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .splash {
    max-height: 80%;
    max-width: auto;
  }
  .globe-img {
    max-width: 20%;
    max-height: 80%;
  }

  .telescope {
    max-width: 80%;
  }
}

h1 {
  font-family: "helvetica", sans-serif;
  font-size: 13vw;
  font-weight: 900;
  text-align: center;
  color: white;
  background-color: black;
  transition: 0.1s;
}

h1:hover {
  cursor: pointer;
  color: rgb(232, 226, 197);
}

.globe {
  grid-area: globe;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.globe img {
  max-width: 100%;
}

.splash {
  grid-area: splash;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  object-fit: cover;
  pointer-events: none;
}
.splash img {
  height: 100%;
  width: 100%;
  /* z-index: -1; */
  bottom: 0;
  transition: 0.5ms;
}

footer {
  height: auto;
  margin: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10px;
  background-color: black;
}

footer p {
  text-align: center;
  color: white;
  margin: 0;
  font-size: 0.2em;
}

button {
  background: white;
  border-radius: 3px;
  color: black;
  border: none;
  width: auto;
  text-align: center;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
}

.telescope {
  width: 100%;
  justify-self: center;
}

.header {
  display: grid;
}

.nav {
  display: flex;
  justify-content: center;
}
